


.card-custom{
    background-color:rgb(22, 25, 223);
    
}

.ancor:hover{
    color: red;
}

.body{
    background-image: url(../../public/sfondo4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}